<% include ./partials/topbar %> 
<% include ./partials/sidebar %>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style> .w3-ul {width: 396px;min-height: 500px;float: left;}
ul.w3-ul.w3-card-4 {overflow-y: scroll;}
.messagebox {width: 868px;margin-left: 65px;} 
.w3-container, .w3-panel {    min-height: 550px;}
.inputtype_message {display: flex;}
.container_message {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container_message::after {
  content: "";
  clear: both;
  display: table;
}

.container_message img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container_message img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
</style>
<div class="w3-container">
  <h2>Contact List</h2>
  <ul class="w3-ul w3-card-4">

  <% for (var i = 0; i < users.length; i++) { %>
    <li class="w3-bar" onclick="new HiChat().changeUsername('<%= users[i].userId.name %>','<%= users[i].userId._id %>');">
      <img src="/socket/img/img_avatar2.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
      <div class="w3-bar-item">
        <span class="w3-large"><%= users[i].userId.name %></span><br>
        <span>Web Designer</span>
      </div>
    </li>

 <%   } %>


  </ul>
  <ul class="w3-ul w3-card-4 messagebox">

  <% if (users.length > 0) { %>
    <li class="w3-bar profile_tab" >
      <img src="/socket/img/img_avatar2.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
      <div class="w3-bar-item">

        <span class="w3-large" id="user_name"><%= users[0].userId.name %></span><br>
         <span id="status"></span>
      </div>
    </li>
    <hr>
    <div id="historyMsg" style="display:none">

    </div>

<input type="hidden" value="<%= users[0].userId._id %>" id="conversationId">
<div id ="messages" class="messages">

</div>

    
    <li class="inputtype_message"> 


            <input type="text" id="messageInput" class="form-control" name="message" ><input id="emoji" type="button" value="emoji" title="emoji" /><button id="sendBtn" type="button" >Send</button></li>
                    <div class="controls" >
                <div class="items">
                    <input id="colorStyle" style="display:none" type="color" placeHolder='#000' title="font color" />
                    <label for="sendImage" style="display:none" class="imageLable">
                        <input id="sendImage" type="file" value="image"/>
                    </label>
                    <input id="clearBtn" style="display:none" type="button" value="clear" title="clear screen" />
                </div>
               
                <div id="emojiWrapper" style="display:none">
                </div>
            </div>

   <%   } %>
  </ul>

<div id="loginWrapper">
            <p id="info">connecting to server...</p>
            <div id="nickWrapper">
                <input type="hidden" placeHolder="nickname" value="<%= user.name %>" id="nicknameInput" />
                <input type="hidden"  value="<%= user._id %>" id="login_id" />
                <input type="hidden" value="OK" id="loginBtn" />
            </div>
        </div>
</div>

           
 <script src="/socket.io/socket.io.js"></script>
        <script src="/socket/scripts/hichat.js"></script>
      
 <% include ./partials/footer %> 